In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('/Users/atul2501/Downloads/flight_price.xlsx')

In [3]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302

In [4]:
df=df.drop(columns=['Route'])

In [5]:
df.head()

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,16:50,21:35,4h 45m,1 stop,No info,13302

In [6]:
df['Date']=df['Date_of_Journey'].str.split('/').str[0]

In [7]:
df['Date']=df['Date'].astype(int)

In [15]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24

In [17]:
df['Month']=df['Date_of_Journey'].str.split('/').str[1]
df['Month']=df['Month'].astype(int)

In [19]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3

In [21]:
df['Year']=df['Date_of_Journey'].str.split('/').str[2]
df['Year']=df['Year'].astype(int)

In [23]:
df.head(1)

,Airline,Date_of_Journey,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,24/03/2019,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019

In [25]:
df=df.drop(columns=['Date_of_Journey'])

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Dep_Time         10683 non-null  object
 4   Arrival_Time     10683 non-null  object
 5   Duration         10683 non-null  object
 6   Total_Stops      10682 non-null  object
 7   Additional_Info  10683 non-null  object
 8   Price            10683 non-null  int64
 9   Date             10683 non-null  int64
 10  Month            10683 non-null  int64
 11  Year             10683 non-null  int64
dtypes: int64(4), object(8)
memory usage: 1001.7+ KB

In [29]:
df.head(2)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2 stops,No info,7662,1,5,2019

In [31]:
df['Dep_Time_in_Hrs']=df['Dep_Time'].str.split(':').str[0]
df['Dep_Time_in_Hrs'].astype(int)

0        22
1         5
2         9
3        18
4        16
         ..
10678    19
10679    20
10680     8
10681    11
10682    10
Name: Dep_Time_in_Hrs, Length: 10683, dtype: int64

In [33]:
df['Dep_Time_in_Min']=df['Dep_Time'].str.split(':').str[1]
df['Dep_Time_in_Min'].astype(int)

0        20
1        50
2        25
3         5
4        50
         ..
10678    55
10679    45
10680    20
10681    30
10682    55
Name: Dep_Time_in_Min, Length: 10683, dtype: int64

In [35]:
df.head(1)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min
0,IndiGo,Banglore,New Delhi,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20

In [37]:
df=df.drop(columns=['Dep_Time'])

In [39]:
df.head(2)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,05,50

In [41]:
df['Duration_hrs']=df['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [43]:
df['Duration_hrs']=df['Duration_hrs'].str.split('m').str[0]

In [45]:
df['Duration_hrs']=df['Duration_hrs'].astype(int)

In [47]:
df['Duration_min']=df['Duration'].str.split(' ').str[1].str.split('m').str[0]

In [49]:
df['Duration_min']=df['Duration_min'].replace(np.nan,0)

In [51]:
df['Duration_min']=df['Duration_min'].astype(int)
df['Duration_min'].unique()

array([50, 25,  0, 45, 30,  5, 15, 35, 10, 20, 55, 40])

In [53]:
df.head()

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,05,50,7,25
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,19h,2 stops,No info,13882,9,6,2019,09,25,19,0
3,IndiGo,Kolkata,Banglore,23:30,5h 25m,1 stop,No info,6218,12,5,2019,18,05,5,25
4,IndiGo,Banglore,New Delhi,21:35,4h 45m,1 stop,No info,13302,1,3,2019,16,50,4,45

In [55]:
df['Duration_min'].unique()

array([50, 25,  0, 45, 30,  5, 15, 35, 10, 20, 55, 40])

In [57]:
df['Duration_hrs']=df['Duration_hrs'].astype(int)

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Arrival_Time     10683 non-null  object
 4   Duration         10683 non-null  object
 5   Total_Stops      10682 non-null  object
 6   Additional_Info  10683 non-null  object
 7   Price            10683 non-null  int64
 8   Date             10683 non-null  int64
 9   Month            10683 non-null  int64
 10  Year             10683 non-null  int64
 11  Dep_Time_in_Hrs  10683 non-null  object
 12  Dep_Time_in_Min  10683 non-null  object
 13  Duration_hrs     10683 non-null  int64
 14  Duration_min     10683 non-null  int64
dtypes: int64(6), object(9)
memory usage: 1.2+ MB

In [61]:
df['Dep_Time_in_Hrs']=df['Dep_Time_in_Hrs'].astype(int)

In [63]:
df['Dep_Time_in_Min']=df['Dep_Time_in_Min'].astype(int)

In [65]:
df.head(2)

,Airline,Source,Destination,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,2h 50m,non-stop,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,7h 25m,2 stops,No info,7662,1,5,2019,5,50,7,25

In [67]:
df=df.drop(columns=['Duration'])

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Source           10683 non-null  object
 2   Destination      10683 non-null  object
 3   Arrival_Time     10683 non-null  object
 4   Total_Stops      10682 non-null  object
 5   Additional_Info  10683 non-null  object
 6   Price            10683 non-null  int64
 7   Date             10683 non-null  int64
 8   Month            10683 non-null  int64
 9   Year             10683 non-null  int64
 10  Dep_Time_in_Hrs  10683 non-null  int64
 11  Dep_Time_in_Min  10683 non-null  int64
 12  Duration_hrs     10683 non-null  int64
 13  Duration_min     10683 non-null  int64
dtypes: int64(8), object(6)
memory usage: 1.1+ MB

In [71]:
df.head(5)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,non-stop,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,2 stops,No info,7662,1,5,2019,5,50,7,25
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,2 stops,No info,13882,9,6,2019,9,25,19,0
3,IndiGo,Kolkata,Banglore,23:30,1 stop,No info,6218,12,5,2019,18,5,5,25
4,IndiGo,Banglore,New Delhi,21:35,1 stop,No info,13302,1,3,2019,16,50,4,45

In [73]:
df['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [75]:
df['Total_Stops']=df['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,np.nan:1})

In [77]:
df.head(5)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,0,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,2,No info,7662,1,5,2019,5,50,7,25
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,2,No info,13882,9,6,2019,9,25,19,0
3,IndiGo,Kolkata,Banglore,23:30,1,No info,6218,12,5,2019,18,5,5,25
4,IndiGo,Banglore,New Delhi,21:35,1,No info,13302,1,3,2019,16,50,4,45

In [79]:
df['Total_Stops'].unique()

array([0, 2, 1, 3, 4])

In [81]:
df.head(5)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10 22 Mar,0,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,2,No info,7662,1,5,2019,5,50,7,25
2,Jet Airways,Delhi,Cochin,04:25 10 Jun,2,No info,13882,9,6,2019,9,25,19,0
3,IndiGo,Kolkata,Banglore,23:30,1,No info,6218,12,5,2019,18,5,5,25
4,IndiGo,Banglore,New Delhi,21:35,1,No info,13302,1,3,2019,16,50,4,45

In [83]:
df['Arrival_Time']=df['Arrival_Time'].apply(lambda x:x.split(' ')[0])

In [85]:
df.head(2)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min
0,IndiGo,Banglore,New Delhi,01:10,0,No info,3897,24,3,2019,22,20,2,50
1,Air India,Kolkata,Banglore,13:15,2,No info,7662,1,5,2019,5,50,7,25

In [87]:
df['Arrival_Time_in_hrs']=df['Arrival_Time'].str.split(':').str[0]

In [89]:
df.head(1)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs
0,IndiGo,Banglore,New Delhi,01:10,0,No info,3897,24,3,2019,22,20,2,50,01

In [91]:
df['Arrival_Time_in_min']=df['Arrival_Time'].str.split(':').str[1]

In [93]:
df.head(1)

,Airline,Source,Destination,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs,Arrival_Time_in_min
0,IndiGo,Banglore,New Delhi,01:10,0,No info,3897,24,3,2019,22,20,2,50,01,10

In [95]:
df.drop(columns=['Arrival_Time'],inplace=True)

In [97]:
df.head(1)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs,Arrival_Time_in_min
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,22,20,2,50,01,10

In [99]:
df['Additional_Info'].unique()

array(['No info', 'In-flight meal not included',
       'No check-in baggage included', '1 Short layover', 'No Info',
       '1 Long layover', 'Change airports', 'Business class',
       'Red-eye flight', '2 Long layover'], dtype=object)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Airline              10683 non-null  object
 1   Source               10683 non-null  object
 2   Destination          10683 non-null  object
 3   Total_Stops          10683 non-null  int64
 4   Additional_Info      10683 non-null  object
 5   Price                10683 non-null  int64
 6   Date                 10683 non-null  int64
 7   Month                10683 non-null  int64
 8   Year                 10683 non-null  int64
 9   Dep_Time_in_Hrs      10683 non-null  int64
 10  Dep_Time_in_Min      10683 non-null  int64
 11  Duration_hrs         10683 non-null  int64
 12  Duration_min         10683 non-null  int64
 13  Arrival_Time_in_hrs  10683 non-null  object
 14  Arrival_Time_in_min  10683 non-null  object
dtypes: int64(9), object(6)
memory usage: 1.2+ MB

In [104]:
df['Arrival_Time_in_hrs']=df['Arrival_Time_in_hrs'].astype(int)

In [106]:
df['Arrival_Time_in_min']=df['Arrival_Time_in_min'].astype(int)

In [108]:
df.isnull().sum()

Airline                0
Source                 0
Destination            0
Total_Stops            0
Additional_Info        0
Price                  0
Date                   0
Month                  0
Year                   0
Dep_Time_in_Hrs        0
Dep_Time_in_Min        0
Duration_hrs           0
Duration_min           0
Arrival_Time_in_hrs    0
Arrival_Time_in_min    0
dtype: int64

In [110]:
df.head(5)

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs,Arrival_Time_in_min
0,IndiGo,Banglore,New Delhi,0,No info,3897,24,3,2019,22,20,2,50,1,10
1,Air India,Kolkata,Banglore,2,No info,7662,1,5,2019,5,50,7,25,13,15
2,Jet Airways,Delhi,Cochin,2,No info,13882,9,6,2019,9,25,19,0,4,25
3,IndiGo,Kolkata,Banglore,1,No info,6218,12,5,2019,18,5,5,25,23,30
4,IndiGo,Banglore,New Delhi,1,No info,13302,1,3,2019,16,50,4,45,21,35

In [112]:
from sklearn.model_selection import train_test_split

In [114]:
X_train, X_test, y_train, y_test=train_test_split(df.drop(columns=['Total_Stops']),
                                                          df['Total_Stops'],
                                                          test_size=0.2,
                                                          random_state=1)

In [116]:
X_train.shape

(8546, 14)

In [118]:
X_train.isnull().sum()

Airline                0
Source                 0
Destination            0
Additional_Info        0
Price                  0
Date                   0
Month                  0
Year                   0
Dep_Time_in_Hrs        0
Dep_Time_in_Min        0
Duration_hrs           0
Duration_min           0
Arrival_Time_in_hrs    0
Arrival_Time_in_min    0
dtype: int64

In [120]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [122]:
#one hot Encoder
trf1=ColumnTransformer(
    [
        ('ohe_Air_source_des',OneHotEncoder(sparse_output=False,handle_unknown='ignore'),[0,1,2,3])
    ],
remainder='passthrough')

In [124]:
X_train

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs,Arrival_Time_in_min
8906,Jet Airways,Delhi,Cochin,In-flight meal not included,10368,12,6,2019,9,40,9,20,19,0
5258,Jet Airways,Delhi,Cochin,In-flight meal not included,13344,9,6,2019,5,30,7,5,12,35
9477,IndiGo,Delhi,Cochin,No info,6442,27,6,2019,5,5,7,5,12,10
1595,Air India,Delhi,Cochin,No info,7480,18,5,2019,20,40,12,45,9,25
9972,SpiceJet,Banglore,Delhi,No check-in baggage included,3573,15,5,2019,21,10,2,55,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,Jet Airways,Kolkata,Banglore,No info,14571,9,6,2019,21,10,14,50,12,0
7813,IndiGo,Kolkata,Banglore,No info,4804,24,4,2019,14,25,2,30,16,55
905,IndiGo,Delhi,Cochin,No info,6442,18,5,2019,8,35,7,35,16,10
5192,Jet Airways,Kolkata,Banglore,No info,14151,12,5,2019,9,35,24,10,9,45
235,Air Asia,Kolkata,Banglore,No info,4409,1,5,2019,10,20,2,35,12,55

In [126]:
X_train['Destination'].value_counts()

Destination
Cochin       3627
Banglore     2306
Delhi        1004
New Delhi     751
Hyderabad     550
Kolkata       308
Name: count, dtype: int64

In [128]:
from sklearn.preprocessing import MinMaxScaler
#scaled for better performace
trf3=ColumnTransformer([
    ('scale',MinMaxScaler(),slice(0,40))
])

In [130]:
# from sklearn.feature.selection import SelectKBest,chi2
from sklearn.feature_selection import SelectKBest,chi2
#Feature selection 
trf4=SelectKBest(score_func=chi2,k=8)

In [132]:
from sklearn.tree import DecisionTreeClassifier
trf5=DecisionTreeClassifier()

In [134]:
from sklearn.pipeline import Pipeline
#Create Pipeline
pipe=Pipeline([
    ('trf1',trf1),
    ('trf3',trf3),
    ('trf4',trf4),
    ('trf5',trf5)
    
])

In [136]:

pipe.fit(X_train,y_train)

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_Air_source_des',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  [0, 1, 2, 3])])),
                ('trf3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 40, None))])),
                ('trf4',
                 SelectKBest(k=8, score_func=<function chi2 at 0x1642654e0>)),
                ('trf5', DecisionTreeClassifier())])

In [138]:
#Predict
y_pred=pipe.predict(X_test)

In [140]:
y_pred

array([0, 0, 1, ..., 1, 1, 0])

In [142]:

from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.914365933551708

In [144]:
#Cross Validation using pipeline
from sklearn.model_selection import cross_val_score
cross_val_score(pipe,X_train,y_train,cv=100,scoring='accuracy').mean()

/opt/anaconda3/lib/python3.12/site-packages/sklearn/model_selection/_split.py:805: UserWarning: The least populated class in y has only 40 members, which is less than n_splits=100.
  warnings.warn(

0.9147305061559509

In [146]:

#GridSerch using Pipeline
params={
    'trf5__max_depth':[1,2,3,4,5,None]
}

In [148]:
from sklearn.model_selection import GridSearchCV
grid=GridSearchCV(pipe,params,cv=5,scoring='accuracy')
grid.fit(X_train,y_train)

GridSearchCV(cv=5,
             estimator=Pipeline(steps=[('trf1',
                                        ColumnTransformer(remainder='passthrough',
                                                          transformers=[('ohe_Air_source_des',
                                                                         OneHotEncoder(handle_unknown='ignore',
                                                                                       sparse_output=False),
                                                                         [0, 1,
                                                                          2,
                                                                          3])])),
                                       ('trf3',
                                        ColumnTransformer(transformers=[('scale',
                                                                         MinMaxScaler(),
                                                                         slice(0, 40, None))])),
                                       ('trf4',
                                        SelectKBest(k=8,
                                                    score_func=<function chi2 at 0x1642654e0>)),
                                       ('trf5', DecisionTreeClassifier())]),
             param_grid={'trf5__max_depth': [1, 2, 3, 4, 5, None]},
             scoring='accuracy')

In [150]:

grid.best_score_

0.9163358073357767

In [152]:
#Exporting the pipeline to production 
import pickle
pickle.dump(pipe,open('pipe.pkl','wb'))

In [156]:
X_train

,Airline,Source,Destination,Additional_Info,Price,Date,Month,Year,Dep_Time_in_Hrs,Dep_Time_in_Min,Duration_hrs,Duration_min,Arrival_Time_in_hrs,Arrival_Time_in_min
8906,Jet Airways,Delhi,Cochin,In-flight meal not included,10368,12,6,2019,9,40,9,20,19,0
5258,Jet Airways,Delhi,Cochin,In-flight meal not included,13344,9,6,2019,5,30,7,5,12,35
9477,IndiGo,Delhi,Cochin,No info,6442,27,6,2019,5,5,7,5,12,10
1595,Air India,Delhi,Cochin,No info,7480,18,5,2019,20,40,12,45,9,25
9972,SpiceJet,Banglore,Delhi,No check-in baggage included,3573,15,5,2019,21,10,2,55,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2895,Jet Airways,Kolkata,Banglore,No info,14571,9,6,2019,21,10,14,50,12,0
7813,IndiGo,Kolkata,Banglore,No info,4804,24,4,2019,14,25,2,30,16,55
905,IndiGo,Delhi,Cochin,No info,6442,18,5,2019,8,35,7,35,16,10
5192,Jet Airways,Kolkata,Banglore,No info,14151,12,5,2019,9,35,24,10,9,45
235,Air Asia,Kolkata,Banglore,No info,4409,1,5,2019,10,20,2,35,12,55